<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "sample app", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Help", help_path %></li>

				<li><%= link_to "Users", users_path %></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Account <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Profile", '#' %></li>
						<li><%= link_to "Settings", '#' %></li>
						<li class="divider"></li>
						<li>
							<%= link_to "Log out", '#', method: :delete %>
						</li>
					</ul>
				</li>



			</ul>
		</nav>
	</div>
</header>
